.card-header {
    display: flex;
    justify-content: space-between
}

.button {
    background-color: transparent;
}

::ng-deep .mat-form-field-appearance-outline.specific-border .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.black-font {
    color: black;
}

.sub-card-header {
    display: flex;
    flex-direction: row
}

.add-button {
    background-color: #25A12D;
    width: unset;
    padding: 0 26px;
    border-radius: 5px;
    height: 41px;
    top: 9px;
}

.clear-button {
    background-color: #ff9800;
    width: unset;
    padding: 0 26px;
    border-radius: 5px;
    height: 41px;
    top: 9px;
    margin-left: 5px;
}

::ng-deep .mat-fab .mat-button-wrapper {
    padding: 0;
}

.ar {
    justify-content: flex-end;
}