<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}">{{ 'ADD_CUSTOMER_PAYMENT' | translate }}</h1>

<mat-dialog-content dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <form #form class="form">
        <div class="div">
            <customer-loader [customer]="customerPayment.customer"
                             (changeCustomer)="handleCustomer($event)">
            </customer-loader>

            <payment-method-loader [paymentMethodId]="customerPayment.paymentMethodId"
                                   [paymentMethodName]="customerPayment.paymentMethodName"
                                   [paymentMethodBalance]="customerPayment.paymentMethodBalance"
                                   (changePaymentMethod)="handlePaymentMethod($event)">
            </payment-method-loader>

            <mat-checkbox [(ngModel)]="customerPayment.transferred" color="primary"
                          style="display:flex; align-items: center">
                {{ 'TRANSFERRED_PAYMENT' | translate }}
            </mat-checkbox>

            <supplier-loader [hidden]="!customerPayment.transferred"
                             [supplier]="createEmptySupplier()"
                             (changeSupplier)="handleSupplier($event)">
            </supplier-loader>
        </div>
        <div class="div">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'AMOUNT' | translate }}</mat-label>
                <input [(ngModel)]="customerPayment['amount']"
                       name="amount"
                       pattern="^[0-9]\d*(\.\d+)?$"
                       matInput
                       required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'NUMBER' | translate }}</mat-label>
                <input [(ngModel)]="customerPayment['number']"
                       name="number"
                       matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'DATE' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions dir="{{this.translate.currentLang === 'en'? 'ltr':'rtl'}}">
    <div class="actions">
        <button mat-button (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || !customerPayment.customer.id || !customerPayment.paymentMethodId">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</mat-dialog-actions>