.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ng-select {
    min-width: 150px;
    margin: 10px;
}

.form-field {
    margin: 5px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title {
    display: flex;
    justify-content: flex-end;
}