<h1 mat-dialog-title *ngIf="!isEdit"
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}">{{ 'ADD_CUSTOMER' | translate }}</h1>

<h1 mat-dialog-title *ngIf="isEdit"
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}">{{ 'EDIT_CUSTOMER' | translate }}</h1>

<mat-dialog-content [formGroup]="customerForm" dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <form #form class="form">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input [(ngModel)]="customer.name"
                   name="name"
                   matInput
                   required>
        </mat-form-field>

        <mat-form-field *ngIf="!isEdit" appearance="outline" class="form-field">
            <mat-label>{{ 'BALANCE' | translate }}</mat-label>
            <input [(ngModel)]="customer.balance"
                   name="balance"
                   type="number"
                   step="any"
                   matInput
                   required>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <div class="actions">
        <button mat-button (click)="cancel(false)">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || customer.name.trim().length === 0">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</mat-dialog-actions>