<h1 mat-dialog-title>{{ 'ADD_OWNER_PAYMENT' | translate }}</h1>

<mat-dialog-content>
    <form #form class="form">
        <div class="div">
            <supplier-loader [supplier]="ownerPayment.supplier"
                             (changeSupplier)="handleSupplier($event)">
            </supplier-loader>

            <payment-method-loader [paymentMethodId]="ownerPayment.paymentMethodId"
                                   [paymentMethodName]="ownerPayment.paymentMethodName"
                                   [paymentMethodBalance]="ownerPayment.paymentMethodBalance"
                                   (changePaymentMethod)="handlePaymentMethod($event)">
            </payment-method-loader>
        </div>
        <div class="div">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'AMOUNT' | translate }}</mat-label>
                <input [(ngModel)]="ownerPayment['amount']"
                       name="amount"
                       pattern="^[0-9]\d*(\.\d+)?$"
                       matInput
                       required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'NUMBER' | translate }}</mat-label>
                <input [(ngModel)]="ownerPayment['number']"
                       name="number"
                       matInput
                       required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'DATE' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || !ownerPayment.supplier.id || !ownerPayment.paymentMethodId">
            {{ 'SAVE' | translate }}
        </button>
        <button mat-button (click)="cancel()">{{ 'CANCEL' | translate }}</button>
    </div>
</mat-dialog-content>