<h1 mat-dialog-title *ngIf="!isEdit">{{ 'ADD_CUSTOMER' | translate }}</h1>

<h1 mat-dialog-title *ngIf="isEdit">{{ 'EDIT_CUSTOMER' | translate }}</h1>

<mat-dialog-content>
    <form #form class="form">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'DISCOUNT' | translate }}</mat-label>
            <input [(ngModel)]="discount.discount"
                   name="discount"
                   type="number"
                   min="0"
                   max="100"
                   matInput
                   required>
        </mat-form-field>

        <customer-loader [customer]="{id: discount.customerId, name: discount.customerName, balance: undefined}"
                         (changeCustomer)="handleCustomer($event)">
        </customer-loader>

        <product-loader [product]="{id: discount.productId, name: discount.productName}"
                        (changeProduct)="handleProduct($event)">
        </product-loader>
    </form>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || !discount.customerId || !discount.productId">
            {{ 'SAVE' | translate }}
        </button>
        <button mat-button (click)="cancel(false)">{{ 'CANCEL' | translate }}</button>
    </div>
</mat-dialog-content>