<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}"
    *ngIf="!isEdit">
    {{ 'ADD_DISCOUNT' | translate }}
</h1>

<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}"
    *ngIf="isEdit">
    {{ 'EDIT_DISCOUNT' | translate }}
</h1>

<mat-dialog-content dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <form #form class="form">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'DISCOUNTED_PRICE' | translate }}</mat-label>
            <input [(ngModel)]="discount.discountedPrice"
                   name="discount"
                   type="number"
                   step="any"
                   matInput
                   required>
        </mat-form-field>

        <customer-loader [customer]="{id: discount.customerId, name: discount.customerName, balance: undefined}"
                         (changeCustomer)="handleCustomer($event)">
        </customer-loader>

        <product-loader [product]="{id: discount.productId, name: discount.productName}"
                        (changeProduct)="handleProduct($event)">
        </product-loader>
    </form>
</mat-dialog-content>

<mat-dialog-actions dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <div class="actions">
        <button mat-button (click)="close(false)">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || !discount.customerId || !discount.productId">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</mat-dialog-actions>