<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}"
    *ngIf="!isEdit">
    {{ 'ADD_SUPPLIER' | translate }}
</h1>

<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}"
    *ngIf="isEdit">
    {{ 'EDIT_SUPPLIER' | translate }}
</h1>

<mat-dialog-content dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <form #form class="form">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input [(ngModel)]="supplier.name"
                   placeholder="{{ 'NAME' | translate }}"
                   name="name"
                   matInput
                   required>
        </mat-form-field>

        <mat-form-field *ngIf="!isEdit" appearance="outline" class="form-field">
            <mat-label>{{ 'BALANCE' | translate }}</mat-label>
            <input [(ngModel)]="supplier.balance"
                   name="balance"
                   type="number"
                   step="any"
                   matInput
                   required>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <div class="actions">
        <button mat-button (click)="close()">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() || supplier.name.trim().length === 0">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</mat-dialog-actions>