<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}">{{ 'ADD_BILL' | translate }}</h1>

<mat-dialog-content dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <form #form class="form">
        <div class="div">
            <customer-loader [customer]="bill.customerEntity"
                             (changeCustomer)="handleCustomer($event)">
            </customer-loader>

            <supplier-loader [supplier]="bill.supplierEntity"
                             (changeSupplier)="handleSupplier($event)">
            </supplier-loader>

            <product-loader [product]="bill.productEntity"
                            (changeProduct)="handleProduct($event)">
            </product-loader>

            <truck-loader [truck]="bill.truckEntity"
                          (changeTruck)="handleTruck($event)">
            </truck-loader>
        </div>

        <div class="div">
            <div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{ 'BILL_NUMBER' | translate }}</mat-label>
                    <input [(ngModel)]="bill.number"
                           name="billNumber"
                           matInput
                           required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{ 'QUANTITY' | translate }}</mat-label>
                    <input [(ngModel)]="bill.quantity"
                           pattern="^[0-9]\d*(\.\d+)?$"
                           name="amount"
                           matInput
                           required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{ 'DATE' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions dir="{{Helper.translate.currentLang === 'ar'? 'rtl' : 'ltr'}}">
    <div class="actions">
        <button mat-button (click)="close()">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="save()"
                [disabled]="!form.checkValidity() ||
                !bill.customerEntity.id ||
                !bill.productEntity.id ||
                !bill.supplierEntity.id">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</mat-dialog-actions>