<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="sub-card-header">
                            <mat-form-field appearance="outline" class="specific-border">
                                <mat-date-range-input [rangePicker]="picker" class="black-font">
                                    <input matStartDate placeholder="{{ 'START_DATE' | translate }}"
                                           [(ngModel)]="startDate"
                                           (dateChange)="dateChange()">
                                    <input matEndDate placeholder="{{ 'END_DATE' | translate }}" [(ngModel)]="endDate"
                                           (dateChange)="dateChange()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>

                            <button mat-fab class="clear-button" (click)="clearFilter()">
                                {{ 'CLEAR_FILTER' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_NUMBER' | translate }}</mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row">{{RegExp.test(row['paymentNumber']) ? '' : row['paymentNumber']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'AMOUNT' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row" dir="ltr"
                                              [ngClass]="{'ar': translate.currentLang === 'ar'}">{{row['paymentAmount']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="treasuryBalance">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'TREASURY_BALANCE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row" dir="ltr"
                                              [ngClass]="{'ar': translate.currentLang === 'ar'}">{{row['treasuryBalance']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="customer">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'CUSTOMER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['customer']?.name}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentMethod">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_METHOD' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['paymentMethodName']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'DATE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['date']}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="header"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: header"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           (page)="pageChange($event)"
                                           showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
