<h1 mat-dialog-title
    [ngClass]="{'title': Helper.translate.currentLang === 'ar'}">
    {{ 'TRANSACTIONS' | translate }} {{ " " + customer.name }}
</h1>
<mat-dialog-content dir="{{translate.currentLang === 'en'? 'ltr': 'rtl'}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="sub-card-header">
                            <mat-form-field appearance="outline" class="specific-border">
                                <mat-date-range-input [rangePicker]="picker" class="black-font">
                                    <input matStartDate placeholder="{{ 'START_DATE' | translate }}"
                                           [(ngModel)]="startDate"
                                           (dateChange)="dateChange()">
                                    <input matEndDate placeholder="{{ 'END_DATE' | translate }}" [(ngModel)]="endDate"
                                           (dateChange)="dateChange()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>

                            <button mat-fab class="clear-button" (click)="clearFilter()">
                                {{ 'CLEAR_FILTER' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

                                <ng-container matColumnDef="customerBalance">
                                    <mat-header-cell *matHeaderCellDef>{{ 'BALANCE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row" dir="ltr"
                                              [ngClass]="{'ar': translate.currentLang === 'ar'}">{{ row['customerBalance'] }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentNumber">
                                    <mat-header-cell *matHeaderCellDef>{{ 'PAYMENT_NUMBER' | translate }}
                                    </mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row">{{ RegExp.test(row['paymentNumber']) ? '' : row['paymentNumber'] }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentAmount">
                                    <mat-header-cell *matHeaderCellDef>{{ 'PAYMENT_AMOUNT' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['paymentAmount'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="transferredPayment">
                                    <mat-header-cell *matHeaderCellDef>{{ 'TRANSFERRED_PAYMENT' | translate }}
                                    </mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row">{{ (row['transferredPayment'] === true ? 'YES' : (row['transferredPayment'] === false ? 'NO' : '')) | translate }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentMethod">
                                    <mat-header-cell *matHeaderCellDef>{{ 'PAYMENT_METHOD' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['paymentMethod'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="billNumber">
                                    <mat-header-cell *matHeaderCellDef>{{ 'BILL_NUMBER' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['billNumber'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="billQuantity">
                                    <mat-header-cell *matHeaderCellDef>{{ 'BILL_QUANTITY' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['billQuantity'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="billAmount">
                                    <mat-header-cell *matHeaderCellDef>{{ 'BILL_AMOUNT' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['billCustomerAmount'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef>{{ 'PRODUCT' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['productName'] }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'DATE' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row['date'] }}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="header"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: header"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           (page)="pageChange($event)"
                                           showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div dir="{{translate.currentLang === 'en'? 'ltr': 'rtl'}}" class="actions">
        <button mat-button (click)="cancel()">{{ 'CANCEL' | translate }}</button>
    </div>
</mat-dialog-actions>
