<div class="logo">
    <a class="simple-text">
        {{ 'PROJECT_NAME' | translate }}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav" *ngFor="let menuItem of menuItems">
        <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="[menuItem.path]" class="nav-link" style="display: flex; flex-direction: row">
                <i class="material-icons" [ngClass]="{'ar': translate.currentLang === 'ar',
                'en': translate.currentLang === 'en'}">{{menuItem.icon}}</i>
                <p>{{ menuItem.title | translate }}</p>
            </a>
        </li>

        <!--<li *ngIf="menuItem['children'].length > 0" class="nav-item">
            <a (click)="basicCollapse.toggle()"
               [attr.aria-expanded]="!basicCollapse.collapsed" style="display: flex; flex-direction: row">

                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{ menuItem.title | translate  }}</p>
                <i *ngIf="basicCollapse.collapsed" class="material-icons">expand_more</i>
                <i *ngIf="!basicCollapse.collapsed" class="material-icons">expand_less</i>
            </a>
            <div mdbCollapse #basicCollapse="mdbCollapse" class="basicCollapse">
                <li routerLinkActive="active" *ngFor="let child of menuItem['children']" class="nav-item">
                    <a [routerLink]="[child.path]" class="nav-link">
                        <p>{{ child.title | translate  }}</p>
                    </a>
                </li>
            </div>
        </li>-->
    </ul>
</div>
