<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="display: flex; flex-direction: row">{{ 'BILLS' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-table [dataSource]="billDataSource" matSort (matSortChange)="billSortData($event)">
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'BILL_NUMBER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['number']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'QUANTITY' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['quantity']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="customer">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'CUSTOMER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['customer']['name']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="supplier">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'SUPPLIER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['supplier']['name']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PRODUCT' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['product']['name']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'DATE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['date']}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="billHeader"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: billHeader"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           showFirstLastButtons (page)="billPageChange($event)"
                                           #billPaginator="matPaginator">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"
                            style="display: flex; flex-direction: row">{{ 'EXPENSES' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-table [dataSource]="ownerPaymentDataSource" matSort
                                       (matSortChange)="ownerPaymentSortData($event)">
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_NUMBER' | translate }}</mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row">{{RegExp.test(row['number']) ? '' : row['number']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'AMOUNT' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['amount']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="supplier">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'SUPPLIER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['supplier']['name']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentMethod">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_METHOD' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['paymentMethodName']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'DATE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['date']}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="ownerPaymentHeader"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: ownerPaymentHeader"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           showFirstLastButtons (page)="ownerPaymentPageChange($event)"
                                           #ownerPaginator="matPaginator">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"
                            style="display: flex; flex-direction: row">{{ 'INCOME' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-table [dataSource]="customerPaymentDataSource" matSort
                                       (matSortChange)="customerPaymentSortData($event)">
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_NUMBER' | translate }}</mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row">{{RegExp.test(row['number']) ? '' : row['number']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'AMOUNT' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['amount']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="customer">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'CUSTOMER' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['customer']['name']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="paymentMethod">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'PAYMENT_METHOD' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['paymentMethodName']}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef
                                                     mat-sort-header>{{ 'DATE' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row['date']}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="customerPaymentHeader"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: customerPaymentHeader"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           showFirstLastButtons (page)="customerPaymentPageChange($event)"
                                           #customerPaginator="matPaginator">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
